*~
aclocal.m4
autom4te.cache
build
.cdtbuild
.cdtproject
config.guess
config.h.in
config.rpath
config.sub
configure
depcomp
gnome-doc-utils.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
m4
Makefile.in
Makefile.in.in
missing
mkinstalldirs
omf.make
.project
.settings
xmldocs.make

src/fr-enum-types.c
src/fr-enum-types.h
src/fr-marshal.c
src/fr-marshal.h

