/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.cdt*
/.cproject
/.deps
/.gitignore
/.libs
/.project
/.settings/
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/autoscan.log
/build
/build/po/Makefile.in
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/copy-n-paste/Makefile.in
/data/Makefile.in
/data/icons/16x16/Makefile.in
/data/icons/16x16/actions/Makefile.in
/data/icons/16x16/apps/Makefile.in
/data/icons/22x22/Makefile.in
/data/icons/22x22/apps/Makefile.in
/data/icons/24x24/Makefile.in
/data/icons/24x24/actions/Makefile.in
/data/icons/24x24/apps/Makefile.in
/data/icons/32x32/Makefile.in
/data/icons/32x32/apps/Makefile.in
/data/icons/Makefile.in
/data/icons/scalable/Makefile.in
/data/icons/scalable/apps/Makefile.in
/data/ui/Makefile.in
/depcomp
/file-roller.spec
/gnome-doc-utils.make
/gtk-doc.make
/help/Makefile.in
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/nautilus/Makefile.in
/omf.make
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/so_locations
/src/Makefile.in
/src/sh/Makefile.in
/stamp-h1
/tags
/xmldocs.make
