.locationbar {
	border-bottom: 1px solid @borders;
	padding: 10px;
}

.extra-widget {
	padding: 15px;
	border-top: 1px solid @borders;
}

.dialog-content {
	padding: 20px;
}

.dialog-content.small-padding {
	padding: 10px;
}

.fr-sidebar {
	padding: 6px;
}

.fr-sidebar-row {
	border-radius: 6px;
	padding: 7px 14px;
	margin: 1px 0;
}
